extends layout

block content
  h1 登陆
  form(action='login', method='post')
    table
      tr
        td(colspan='2', style='color: #FF0000') #{err_msg}
      tr 
        td name:
        td 
          input(name='name',type='text', value='#{username}')
      tr 
        td pwd:
        td 
          input(name='pwd', type='password')
      tr(height="10px")
        td
      tr
        td
          input(type="submit" value="提交")
        td
          input(type="reset" value="重置")
  p
  p
  form(action='api', method='get')
    | test get
    p
    input(name="testarg", type='text', value='haha')
    p
    input(type='submit', value='test')



